<% provide :title, "about" %>
<h1>about beermac</h1>
<div>
    <%= image_tag "ryanwilkins.jpeg", class: "ryan" %>    
    
</div>
<div>
    <p>
        ryan is a product manager at Salesforce Marketing Cloud. he codes in his spare time! beermac is <br>
        ryan's first web app that wasn't built from a learning tutorial. it's a very simple app meant to <br>
        help software engineers collaborate easier when storypointing user stories and bugs. go agile!
    </p>
    
    <p>
        ryan graduated from Indiana University with a Bachelors degree in Entrepreneurship and Corporate <br>
        Innovation, and with a Masters degree in Information Systems, concentrating in Enterprise Resource <br>
        Planning and Cybersecurity. obviously he couldn't get enought of the technology, because he started <br>
        teaching himself how to code upon graduation, which has landed him here with this app.
    </p>
    
    <p>
        beermac was built using Ruby on Rails.
    </p>
    
</div>

