<% provide :title, "contact" %>
<h1>contact</h1>
<p class="center">
    check out ryan's
    <a href="https://www.linkedin.com/in/ryan-wilkins-7573b757">LinkedIn profile</a>
    and also his
    <a href="https://github.com/wilkinsrs">GitHub profile</a>.
</p>
