<% provide :title, "home" %>
<div class="center jumbotron">
    <h1>beermac</h1>
    
    <p>welcome to beermac, the world's greatest story-pointing tool</p>
    
    <%= link_to "join a meeting", '#', class: "btn btn-lg btn-primary" %>
    
</div>


