<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "beermac", "#", id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "home", home_path %></li>
                <li><%= link_to "about", about_path %></li>
                <li><%= link_to "contact", contact_path %></li>
            </ul>
        </nav>
    </div>
</header>